
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: 'Segoe UI', sans-serif;
}

body{
    background:#f3f5f7;
    display:flex;
    justify-content:center;
}

.container{
    width:390px;
    background:#ffffff;
    border-radius:20px;
    margin:20px;
    overflow:hidden;
}

/* NAVBAR */
.navbar{
    background:#e9eef3;
    padding:12px;
    display:flex;
    justify-content:space-around;
    border-radius:14px;
    margin:15px;
    font-size:14px;
    font-weight:500;
}

/* HERO */
.hero{
    text-align:center;
    padding:20px;
}

.hero h1{
    font-size:32px;
    font-weight:600;
    color:#355c7d;
    margin-bottom:10px;
    font-family: cursive;
}

.hero p{
    font-size:14px;
    color:#555;
    margin-bottom:20px;
}

/* IMAGE SECTION */
.image-box{
    display:flex;
    align-items:flex-end;
    justify-content:center;
    gap:20px;
    margin-bottom:20px;
}

.image-box img{
    height:180px;
}

/* BUTTON */
.btn{
    background:#355c7d;
    color:#fff;
    padding:12px 26px;
    border:none;
    border-radius:25px;
    font-size:15px;
    cursor:pointer;
}

/* FEATURES */
.features{
    display:grid;
    grid-template-columns: repeat(4,1fr);
    gap:10px;
    padding:20px;
}

.feature{
    background:#f7f9fb;
    border-radius:15px;
    padding:10px;
    text-align:center;
    font-size:12px;
}

.feature img{
    height:28px;
    margin-bottom:6px;
}

/* HOW IT WORKS */
.how{
    padding:0 20px 20px;
    text-align:center;
}

.how h3{
    font-size:18px;
    margin-bottom:10px;
}

.how p{
    font-size:13px;
    color:#555;
}

/* FOOTER */
.footer{
    background:#f3f5f7;
    padding:15px 20px;
    font-size:13px;
}

.footer h4{
    margin-bottom:8px;
}

.footer a{
    display:block;
    color:#333;
    text-decoration:none;
    margin-bottom:5px;
}
